certifi
charset-normalizer
contourpy
cycler
cython
fonttools
greenlet
h5py
hdf5plugin
idna
kiwisolver
lxml
matplotlib
numpy
packaging
pandas
pillow
pkgconfig
psims
pyparsing
pyside6
Pyside6-Addons
Pyside6-Essentials
python-dateutil
pytz
requests
shiboken6
six
sqlalchemy
typing-extensions
tzdata
urllib3
wheezy-template
git+https://github.com/gtluu/pyimzML.git
git+https://github.com/gtluu/pyTDFSDK.git
git+https://github.com/gtluu/pyBaf2Sql.git
