numpy==1.18.3
pandas==1.0.3
lxml==4.6.2
psims==0.1.34
hdf5plugin==3.2.0
cycler==0.10.0
kiwisolver==1.2.0
matplotlib==3.2.1
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
six==1.14.0
SQLAlchemy==1.3.16
flask==2.1.1
Jinja2==3.1.1
flask_executor==0.10.0
requests==2.27.1